* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
/*Menu*/
.menu {
    background-color:rgb(43, 42, 42);
}
.encabezado {
    margin-left: 5rem;
    margin-top: 5rem;
}
/*Cuerpo*/
.perfil {
    width: auto;
    justify-content: start;
    max-height: 45rem;
}
.cuerpo {
    display: flex;
    align-self: center;
    flex-direction: column;
}
main {
    background-image: url(../imgs/colores-fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Despliegues*/
.Example {
    background-repeat: no-repeat;
    background-position: start;
    background-size:cover;
    height: 20rem;
    flex-direction: column-reverse;
}
#tattoo {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%), url(../imgs/TATTOO.PNG);
}
#iguanas {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../imgs/Iguanas_page-0001.jpg);
}
#cuppon  {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../imgs/CUPPON.PNG);
}
#git {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../imgs/GIT.PNG);
}
/*Formulario*/
footer {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%), url(../imgs/fondo-codigo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}